[submodule "cpp/Qubic"]
	path = cpp/Qubic
	url = git@github.com:kornicameister/Qubic.git
[submodule "java/JSchnorr"]
	path = java/JSchnorr
	url = git@github.com:kornicameister/JSchnorr.git
[submodule "java/IAD_Executor"]
	path = java/IAD_Executor
	url = git@github.com:kornicameister/IAD_Executor.git
[submodule "java/NeuralNetwork"]
	path = java/NeuralNetwork
	url = git@github.com:kornicameister/NeuralNetwork.git
